<div class="container">
                    <div class="row">
                        <nav>
                            <ul class="nav footer-links">         
                                <li id="menu-item-1889" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1889"><a href="">About</a></li>
                                <li id="menu-item-2188" class="menu-item menu-item-type-post_type_archive menu-item-object-faqs menu-item-2188"><a href="">FAQ</a></li>
                                <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="">Newsroom</a></li>
                                <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="">Press</a></li>
                                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="">Careers</a></li>
                                <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="">Legal</a></li>      
                            </ul>
                        </nav>
                    </div>
                    <hr>
                    <h5 style="text-align:center;">BIENTÔT DISPONIBLE</h5>
                    <a href=""><img class="btn-appstore appstore-desktop" src="https://www.surfair.com/app/themes/surfair/assets/images/appstore.png" alt=""></a>
                    <hr>
                    <ul class="social-links">
                        <li>
                            <a href="" target="_blank" class="icons"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icons"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icons"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="icons"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                    <p class="disclaimer">AilesX does not own or operate any aircraft. AilesX arranges travel and other services solely as a manager of the AilesX membership program and as an agent of its membership. All flights arranged by AilesX for its members are performed by independent, third party FAA-licensed and DOT-registered air carriers.</p>
                    <p class="copyright">© 2019 AilesX</p>
                </div>