.container-fluid{padding-left:0px;padding-right:0px;} 
    #header{padding-top: 8%;}
    .image_fond_report{position: fixed; right: 0; bottom: 0;min-width: 100%; min-height: 100%;width: auto; height: auto; z-index: -100;background: url(https://cdn.surfair.com/app/uploads/2016/04/skyBG_afternoon1.jpg) no-repeat;background-size: cover;background-position: top;}
    .bloc_title_animation{display: none;}
    .title_bloc_experience{display: none;}
    .experience__slide-image{display: none;}
    .experience__slide-video{display: none;}
    .content_title_animation{text-align: center;}
    video{width: 100%;object-fit: contain;}
    #last_experience_video{margin-top: 20%;}
    .title_bloc_experience{margin-top: 10%;}

    .send_coordonnees{
            background:url(https://cdn.surfair.com/app/uploads/2016/04/aircraft-planetour.jpg) no-repeat;
            background-size:cover;
            height: 500px;
        }
        #mc_embed_signup{padding: 0 20px 0;}
        ::-webkit-input-placeholder { text-align:center; }
        #mc-embedded-subscribe{margin: 1em 10em 14%;}   
        ::-moz-placeholder { text-align:center; } /* firefox 19+ */
        :-ms-input-placeholder { text-align:center; } /* ie */
        input:-moz-placeholder { text-align:center; }