{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link href="{{asset('build/css/aircraft.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="image_fond_aircraft"></div>
    <section style="position:relative;margin-bottom: -24px;">
        <div class="bloc_aircraft">
            <img src="{{asset('img/aircraft/surf-air-picture4.jpg')}}">
        </div>
    </section>

    <section>
        <div class="bloc_details_aircraft">
                <h4>
                    <p>Designed for capacity and best-in-class performance, the Pilatus PC-12 NG executive aircraft has earned a reputation for outstanding reliability and safety, making it the best selling pressurized single-engine turboprop aircraft in the world.</p>
                </h4>
            <div class="out_aircraft">
                <!-- <i class="fas fa-plane"></i> -->
                <img class="range_aircraft" src="https://image.freepik.com/iconos-gratis/avion-volando_318-1385.jpg">
                <div style="text-align:center;">
                    <p>1200 nm</p>
                    <p>Maximum range</p>
                </div>
            </div>
            <div class="speed_aircraft">
                <!-- <i class="fas fa-tachometer-alt"></i> -->
                <img class="meter_aircraft" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmtbTLrph6gJ5OYVxWi66JSS1T9nmq6ABparnaGjzmTI0Xjx7b">
                <div style="text-align:center;">
                    <p>322 mph</p>
                    <p>Cruising speed</p>
                </div>
            </div>
            <div class="fuel_aircraft">
                <!-- <i class="fas fa-burn"></i> -->
                <img class="gas_aircraft" src="https://image.freepik.com/freie-ikonen/regen-tropfen_318-41555.jpg">
                <div style="text-align:center;">
                    <p>50%</p>
                    <p>Less fuel burned than midsize jets</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bloc_inside_aircraft">
            <div class="content_aircraft">
                <h2 class="title">Explore the aircraft</h2>
                <h5 class="copy"><p>The Pilatus PC-12 NG aircraft feature custom interiors designed by Bespoken New York. </p>
            </div>
    </section>

    <section class="section section-testimonials testimonials">
        <div class="content">
            <div class="review-list"> 
                <div class="review-item">
                    <div class="inner-content">                   
                        <blockquote class="title">Not only a powerful and efficient plane</blockquote>
                        <div class="text-holder">
                            <p>When on board, one quickly realizes the Swiss-built PC-12 NG was engineered for safe passage even in the roughest of Alpine weather. It’s easy to settle into the reclining seats and comfortable privacy. USB plugs and worktables complete an ideal place to get some real work done.</p>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </section>

    <section class="section-pilots" id="pilots">
        <article class="article-1">
            <div class="content_pilot_aircraft">
                <h3 class="subtitle_pilot">Experience, passion, and commitment</h3>
                <p class="title_pilot">Pilots</p>
                <div class="text-holder_pilot"><p>Our third party operating partners utilize pilots that have flown thousands of passengers on commercial, military, charter, and private aircraft. These pilots have an unwavering commitment to safety, and passion for genuine personal service. All of the Captains hold an airline transport pilot certificate, and we require that our third party operators always fly with two fully trained, experienced pilots in the cockpit.</p>
                </div>
            </div>
        </article>
        <article class="image_pilot" style="background-image:url(https://cdn.surfair.com/app/uploads/2016/04/Our-Pilots-3.jpg);">
        </article>
    </section>

    <section class="section-procedure" id="procedures">       
        <article class="image_procedure" style="background-image:url(https://cdn.surfair.com/app/uploads/2016/04/Our-Pilots-2.jpg);">
        </article>
        <article class="article-2">
            <div class="content_procedure_aircraft">
                <h3 class="subtitle_procedure">Safety, above and beyond</h3>
                <p class="title_procedure">Procedures</p>
                <div class="text-holder_procedure"><p>While the EASA only requires a single pilot to operate our aircraft type, Surf Air requires our third party aircraft operators to utilize both a Captain and First Officer on all flights. You can then rest assured that your flight crew will include a seasoned ATPL-rated Captain and an experienced First Officer with an EASA commercial license. We require that our third party aircraft operators maintain all of our planes to the most rigorous standards, conducting regular mechanical inspections on each aircraft as well as comprehensive pre-flight checks before every trip.</p>
                </div>
            </div>
        </article>
    </section>

    <section class="send_coordonnees">
        <div class="col-lg-7 col-sm-12 form_coord" style="padding:0px!important;color: #efefef;">
            <div class="row marg" style="height:70px;"></div>
            <div class="row marg">                      
                <div class="col-1"></div>
                <div class="offset-5 col-12">
                    <fieldset>
                        <legend style="color:#efefef;text-align:center;">Explore AilesX memberships</legend>
                        <p style="color:#efefef;">AilesX innovative membership ooptions make traveling anywhere in Montpellier quick, simple and comfortable.</p>
                    </fieldset>
                    <div class="row marg">
                        <div class="col-1 col-sm-2"></div>
                        <div id="mc_embed_signup" class="col-12 col-sm-8">
                                <form action="https://ailesx.us20.list-manage.com/subscribe/post?u=0c87e4fbb14602c959ce2cdca&amp;id=67afe62961" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        
                                    <fieldset id="mc_embed_signup_scroll">
                                        <div class="mc-field-group">
                                            <input type="text" name="FNAME" class="form-control required" id="mce-FNAME" aria-describedby="emailHelp" placeholder="FULL NAME">
                                            <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="mc-field-group">
                                            <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="EMAIL">
                                            <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>
                                        <div class="mc-field-group">
                                            <input type="text" name="MMERGE5" class="form-control" id="mce-MMERGE5" placeholder="PHONE">
                                        </div>
                                        <div class="mc-field-group">
                                            <input type="text" name="MMERGE2" class="" id="mce-MMERGE2" placeholder="ZIP CODE">
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c87e4fbb14602c959ce2cdca_67afe62961" tabindex="-1" value=""></div>
                                        <div class="clear">
                                            <input type="submit" name="subscribe" class="offset-2 offset-sm-4 offset-lg-2 btn btn-primary btn-md" id="mc-embedded-subscribe" value="REQUEST INFO">
                                        </div>                                    
                                    </fieldset>
                                </form>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type="text/javascript" src="{{ asset('js/aircraftMin.js') }}" crossorigin="anonymous"></script>
<!--End mc_embed_signup-->
{% endblock %}