{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{asset('css/reportMin.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <section>
        <div class="image_fond_report"></div>
        <div class="row bloc_destination">
            <div class="col-md-12 col-lg-6" style="padding:15px;">
                <div class="img_women"></div>
                <div class="content_women" style="background:#efefef;">
                    <h4>HISTORY</h4>
                    <p>The beginning of commercial aviation</p>
                    <a href="/oneArticle">READ MORE</a>
                </div>
                <div class="img_winter"></div>
                <div class="content_women" style="background:#efefef;">
                    <h4>PROFILE</h4>
                    <p>The Women Behind Surf Air</p>
                    <a href="#">READ MORE</a>
                </div>
                <div class="img_man"></div>
                <div class="content_women" style="background:#efefef;">
                    <h4>PROFILE</h4>
                    <p>From Vans to Planes, House Beer Takes on the Big Guys</p>
                    <a href="#">READ MORE</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6" style="padding:15px;">
                    <div class="follow">
                        <h3>FOLLOW AILESX</h3>
                        <ul class="social-links_report">
                            <li>
                                <a href="" target="_blank" class="icons"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="icons"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="icons"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="icons"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                <div class="img_sushi"></div>
                <div class="content_women" style="background:#efefef;">
                    <h4>AILESX APPROVED</h4>
                    <p>Where to Eat Sushi in Toulouse</p>
                    <a href="#">READ MORE</a>
                </div>
                <div class="img_hotel"></div>
                <div class="content_women" style="background:#efefef;">
                    <h4>AILESX APPROVED</h4>
                    <p>Our Montpellier Hotel Collection</p>
                    <a href="#">READ MORE</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}