<section>
    <div class="row first_section" style="padding-top:4%;">
        <div class="col-lg-9 col-sm-12 bloc_accueil">
            <div class="bloc_sombre_accueil"></div>
            <video id="video" autoplay="" loop="" muted="">
                    <source class="video_accueil" src="https://cdn.surfair.com/wp-content/uploads/2018/04/04184631/Homepage-Video-Cuts_v4_Compressed.webmhd.webm" type="video/webm">
                    <source class="video_accueil" src="https://cdn.surfair.com/wp-content/uploads/2018/04/04184643/Homepage-Video-Cuts_v4_1.mp4" type="video/mp4">
            </video>  
            <div class="titre_accueil_video">
                <h2 class="subtitle desktop">WELCOME TO MODERN AIR</h2>
                <h1 class="title desktop">Change the way you fly</h1>
            </div>
            <div class="home-buttons">
                <a href="/tarifs" class="button_home">View Memberships</a>
                <a href="/schedule" class="button_home">See Flight Schedule</a>
                <a href="/experience" class="button_home">How It Works</a>
                <a href="/destination" class="button_home">Destinations</a>
            </div> 
        </div>
        <div class="col-lg-3 col-sm-12 form_coord" style="padding:0px!important;color:#0a253e;background:#efefef;">
            <div class="row marg">
                <div class="col-12">
                    <div class="row marg">
                        <div id="mc_embed_signup" class="offset-md-3 offset-lg-1 col-12 col-md-6 col-lg-10">
                            <form action="https://ailesx.us20.list-manage.com/subscribe/post?u=0c87e4fbb14602c959ce2cdca&amp;id=67afe62961" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            
                                <fieldset id="mc_embed_signup_scroll" style="text-align:center;">
                                     <legend style="color:#0a253e;text-align:center;">Explore AilesX memberships</legend>
                                    <p style="color:#0a253e;">AilesX innovative membership options make traveling anywhere in Montpellier quick, simple and comfortable.</p>
                                    <div class="mc-field-group">
                                        <input type="text" name="FNAME" class="form-control required" id="mce-FNAME" aria-describedby="emailHelp" placeholder="FULL NAME">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="EMAIL">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="text" name="MMERGE5" class="form-control" id="mce-MMERGE5" placeholder="PHONE">
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="text" name="MMERGE2" class="" id="mce-MMERGE2" placeholder="ZIP CODE">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c87e4fbb14602c959ce2cdca_67afe62961" tabindex="-1" value=""></div>
                                    <div class="clear">
                                        <input type="submit" name="subscribe" class="offset-2 offset-sm-4 offset-lg-2 btn btn-primary btn-md" id="mc-embedded-subscribe" value="REQUEST INFO">
                                    </div>                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</section>

 <section>
       <!--Carousel Wrapper-->
        <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
        <h1 class="title_carousel">How it Works</h1>
        <!--Indicators-->
            <ol class="carousel-indicators carousel-indicators-numbers">
                <li data-target="#video-carousel-example" data-slide-to="0" class="active">1</li>
                <li data-target="#video-carousel-example" data-slide-to="1">2</li>
                <li data-target="#video-carousel-example" data-slide-to="2">3</li>
                <li data-target="#video-carousel-example" data-slide-to="3">4</li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active video_1">
                    <video class="video-fluid" autoplay="autoplay" loop muted height="100%" width="100%">
                        <source src="https://cdn.surfair.com/wp-content/uploads/2016/04/20181744/plane.mov" type="video/mp4" />
                    </video>
                    <div class="left slide-content">
                        <h2 class="slide-title">Unlimited flights, one monthly fee</h2>
                        <div class="slide-body">
                            <p>There’s no stopping you, and we’re not here to hold you back. That's why we let you book, fly, and book again as often as you like. Imagine the possibilities.</p>
                        </div>
                        <hr>
                        <div class="slide-stat">
                            <div class="stat-number">LAUNCH</div>
                            <div class="stat-caption">late 2019</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="carousel-item video_2">
                    <video class="video-fluid" autoplay="autoplay" loop muted height="100%" width="100%">
                        <source src="https://cdn.surfair.com/wp-content/uploads/2016/04/20182002/window-shot.mov" type="video/mp4" />
                    </video>
                    <div class="left slide-content">
                        <h2 class="slide-title">The new time travel.</h2>
                        <div class="slide-body">
                            <p>With no security lines or commercial airports to maneuver, you'll take back hours of travel time with every flight. Your future self will thank you.</p>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="carousel-item video_3">
                    <video class="video-fluid" autoplay="autoplay" loop muted height="100%" width="100%">
                        <source src="https://cdn.surfair.com/wp-content/uploads/2016/04/20182041/part-two.mov" type="video/mp4" />
                    </video>
                    <div class="left slide-content">
                        <h2 class="slide-title"> France &amp; Europe.</span></h2>
                        <div class="slide-body">
                            <p>Stretching 840 glorious miles along the South France,it's a goldmine of breathtaking views and vacation hot spots. If you’ve yet to dive into the cobalt blue waters of Lake Salagou or watch the sun set on Natural Park's Haut Languedoc allow AilesX to take you there.</p>
                        </div>
                        <hr>
                        <div class="slide-stat">
                            <ul>
                                <li><a href="/destination" tabindex="0">Montpellier</a></li>
                                <li><a href="/destination" tabindex="0">Toulouse</a></li>
                            </ul>                         
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="carousel-item video_4">
                    <video class="video-fluid" autoplay="autoplay" loop muted height="100%" width="100%">
                        <source src="https://cdn.surfair.com/wp-content/uploads/2016/04/20182238/getting-off-the-plane.mov" type="video/mp4" />
                    </video>
                    <div class="left slide-content">
                        <h2 class="slide-title">Be treated  like a Member,  not a passenger.</h2>
                        <div class="slide-body">
                            <p>We strive to create an exclusive and authentic community of travelers enjoying a new and better way to travel. Simply put, our members enjoy traveling with one another.</p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--Carousel Wrapper-->
    </section>

    <section class="section_destination">
        <h1>Now serving 2 destinations in France<br> with many more to come</h1>
        <div class="row bloc_destination">
            <div class="col-md-12 col-lg-6" style="padding:15px;">
                <div class="img_montpellier">
                    <div class="btn_mont">
                        <a class="button" href="#">Montpellier</a>
                        <p>1heure de temps porte-à-porte à partir de Toulouse.</p>
                    </div>
                    <div class="fond"></div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6" style="padding:15px;">
                <div class="img_toulouse">
                    <div class="btn_toul">
                        <a class="button" href="#">Toulouse</a>
                        <p>1heure de temps porte-à-porte à partir de Montpellier.</p>
                    </div>
                    <div class="fond"></div>
                </div>
            </div>
        </div>
    </section>

<section class="section section-pricing bg-blue" id="pricing">
    <div id="tarif" class="pricing-popover" style="display:block;">
                
        <div class="row" style="background-color:#2C3E50;">
            <div class="col-12" style="height:20px;"></div>
            <div class="col-12" style="color:#efefef;margin-bottom: 20px;">
                <h1 class="title-option offset-sm-3 offset-lg-0">Membership options</h1>
                <div class="copy-option offset-sm-1 offset-lg-0">
                    There's a AilesX membership plan to match your travel needs. Explore the options below to see which makes sense for you.        
                </div>
            </div>
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row bloc-options">&nbsp;&nbsp;&nbsp;
                            <div class="bloc-options-child col-12 col-sm-5 col-lg-3 offset-sm-1" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                <div style="text-align:center;">
                                    <div class="plan-title"><b>À LA CARTE</b></div>
                                    <div class="plan-big-title">AilesX à la demande</div>
                                    <div class="plan-subtitle">Forfait Individuel</div>
                                    <div class="cta-container">
                                        <a href="/tarifs" class="btn-options btn btn-primary btn-lg">JOIN TODAY</a>
                                    </div>
                                    <div class="plan-price-conditions">
                                        <i>
                                            <div class="plan-price"><b>Aussi bas que €550 par vol</b></div>
                                            <div class="plan-conditions">Parfait pour : les voyageurs peu fréquents</div>
                                        </i>
                                    </div>
                                </div>
                                <div class="plan-body">
                                    <ul class="plan-check-list">
                                        <li>✔ À partir de €550 par vol</li>
                                        <li>✔ Accès à toutes nos routes</li>
                                        <li>✔ Application facile à utiliser</li>
                                        <li>✔ Accès aux avantages spéciaux des membres</li>
                                        <li>✔ Modifier ou annuler votre vol en quelques secondes sans pénalité</li>
                                        <li>✔ Pas de frais supplémentaires ou cachés</li>
                                    </ul>
                                </div>                  
                            </div>&nbsp;&nbsp;&nbsp;
                            <div class="bloc-options-child col-12 col-sm-5 col-lg-3" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                    <div style="text-align:center;">
                                        <div class="plan-title"><b>Vols Illimités</b></div>
                                        <div class="plan-big-title">AilesX Illimité</div>
                                        <div class="plan-subtitle">Forfait Individuel</div>
                                        <div class="cta-container">
                                            <a id="plans" class="btn-options btn btn-primary btn-lg" style="color: aliceblue;">SEE PLANS</a>
                                        </div>
                                        <div class="plan-price-conditions">
                                            <i>
                                                <div class="plan-price"><b>À partir de 1.750€ par mois</b></div>
                                                <div class="plan-conditions">Parfait pour : les voyageurs fréquents</div>
                                            </i>
                                        </div>
                                    </div>
                                <div class="plan-body">
                                    <ul class="plan-check-list">
                                        <li>✔ Vol Illimité</li>
                                        <li>✔ Frais de déplacement prévisibles</li>
                                        <li>✔ Application facile à utiliser</li>
                                        <li>✔ Accès aux avantages spéciaux des membres</li>
                                        <li>✔ Modifier ou annuler votre vol en quelques secondes sans pénalité</li>
                                        <li>✔ Pas de frais supplémentaires ou cachés</li>
                                    </ul>
                                </div>                    
                            </div>&nbsp;&nbsp;&nbsp;
                            <div style="height:20px;"></div>
                            <div class="bloc-options-child offset-sm-4 offset-lg-0 col-12 col-sm-5 col-lg-3" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                <div style="text-align:center;">
                                    <div class="plan-title"><b>Vols Illimités</b></div>
                                    <div class="plan-big-title">AilesX groupe</div>
                                    <div class="plan-subtitle">N'importe qui peut voler</div>
                                    <div class="cta-container">
                                        <a href="/tarifs" class="btn-options btn btn-primary btn-lg">MORE DETAILS</a>
                                    </div>
                                    <div class="plan-price-conditions">
                                        <i>
                                            <div class="plan-price"><b>À partir de 4.500€ par mois</b></div>
                                            <div class="plan-conditions">Parfait pour : entreprises et familles</div>
                                        </i>
                                    </div>
                                </div>
                                <div class="plan-body">
                                    <ul class="plan-check-list">
                                        <li>✔ Accès à toutes nos routes</li>
                                        <li>✔ Packs récurrents mensuels de 10 vols</li>
                                        <li>✔ Nombre Illimité de voyageurs</li>
                                        <li>✔ Frais de déplacement prévisibles</li>
                                        <li>✔ Modifier ou annuler votre vol en quelques secondes sans pénalité</li>
                                        <li>✔ Pas de frais supplémentaires ou cachés</li>
                                    </ul>
                                </div>
                    
                                <div class="bloc-options-child offset-sm-4 offset-lg-0 col-12 col-sm-5 col-lg-3" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;display: none;">                                    <span class="close">
                                        <i class="icon icon-X"></i>
                                    </span>
                                    <div class="plan-title"><b>Vols Illimités</b></div>
                                    <div class="plan-big-title">AilesX groupe</div>
                                    <div class="plan-subtitle">N'importe qui peut voler</div>
            
                                    <div class="plan-content-group">
                                        <div class="plan-phone-caption">Please call</div>
                                        <div class="plan-phone-number">04 34 43 06 44</div>
                                    </div>
            
                                    <div class="plan-content-group">
                                        <div class="plan-email-caption">Or email</div>
                                        <div class="plan-email"><a href="mailto:pierreabadir@ailesx.com"></a></div>
                                    </div>
            
                                    <div class="bottom-caption">We'll work with your group to help find a plan that best fit your travel needs.</div>
                                </div>
                            </div>
                            
                        </div>
                        <br>
                        <div class="contact-options" style="text-align:center;">
                            <div class="contact-title"><i class="fas fa-phone"></i> Any questions? We're always here to help</div>
                            <div class="contact-phone">04 34 43 06 44</div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

        <div id="price" class="pricing-popover" style="display:none;">
                
            <div class="row" style="background-color:#2C3E50;">
                <div class="col-12" style="height:20px;"></div>
                <div class="col-12" style="color:#efefef;margin-bottom: 20px;">
                    <h1 class="title-option offset-sm-3 offset-lg-0">Membership options</h1>
                    <div class="copy-option offset-sm-1 offset-lg-0">
                        There's a AilesX membership plan to match your travel needs. Explore the options below to see which makes sense for you.        
                    </div>
                </div>
                <div class="col-12">
                    <div class="container-fluid">
                        <div class="row bloc-options">&nbsp;&nbsp;&nbsp;
                                <div class="bloc-options-child col-12 col-sm-5 col-lg-3 offset-sm-1" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                    <div style="text-align:center;">
                                        <div class="plan-title"><b>STRAIGHT TO THE POINT</b></div>
                                        <div class="plan-big-title">Basic</div>
                                        <div class="plan-subtitle">All You Can Fly</div>
                                        <div class="cta-container">
                                            <a href="/tarifs" class="btn-options btn btn-primary btn-lg">JOIN BASIC</a>
                                        </div>
                                        <div class="plan-price-conditions">
                                            <i>
                                                <div class="plan-price"><b>1750€ per month</b></div>
                                                <div class="plan-conditions">Access to core routes only.</div>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="plan-body">
                                        <ul class="plan-check-list">
                                            <li>✔ Unlimited flights</li>
                                            <li>✔ 2 reservations</li>
                                        </ul>
                                    </div>                  
                                </div>&nbsp;&nbsp;&nbsp;
                                <div class="bloc-options-child col-12 col-sm-5 col-lg-3" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                        <div style="text-align:center;">
                                            <div class="plan-title"><b>MOST POPULAR</b></div>
                                            <div class="plan-big-title">Preferred</div>
                                            <div class="plan-subtitle">All You Can Fly</div>
                                            <div class="cta-container">
                                                <a href="/tarifs" class="btn-options btn btn-primary btn-lg">JOIN PREFERRED</a>
                                            </div>
                                            <div class="plan-price-conditions">
                                                <i>
                                                    <div class="plan-price"><b>2250€ per month</b></div>
                                                    <div class="plan-conditions">Access to all routes</div>
                                                </i>
                                            </div>
                                        </div>
                                    <div class="plan-body">
                                        <ul class="plan-check-list">
                                            <li>✔ Unlimited flights</li>
                                            <li>✔ 4 reservations</li>
                                        </ul>
                                    </div>                    
                                </div>&nbsp;&nbsp;&nbsp;
                                <div style="height:20px;"></div>
                                <div class="bloc-options-child offset-sm-4 offset-lg-0 col-12 col-sm-5 col-lg-3" style="background-color:#efefef;color:#2C3E50;margin-bottom: 10px;">
                                    <div style="text-align:center;">
                                        <div class="plan-title"><b>THE ULTIMATE TRAVELER</b></div>
                                        <div class="plan-big-title">Premium</div>
                                        <div class="plan-subtitle">All You Can Fly</div>
                                        <div class="cta-container">
                                            <a href="/tarifs" class="btn-options btn btn-primary btn-lg">JOIN PREMIUM</a>
                                        </div>
                                        <div class="plan-price-conditions">
                                            <i>
                                                <div class="plan-price"><b>2750€ per month</b></div>
                                                <div class="plan-conditions">Complete route access in all regions.</div>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="plan-body">
                                        <ul class="plan-check-list">
                                             <li>✔ Unlimited flights</li>
                                            <li>✔ 6 reservations</li>
                                            </ul>
                                    </div>
                        
                                </div>
                                
                            </div>
                            <br>
                            <div class="contact-options" style="text-align:center;">
                            <div class="contact-title"><i class="fas fa-phone"></i> Any questions? We're always here to help</div>
                            <div class="contact-phone">04 34 43 06 44</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
    <div class="row" style="background:#efefef;">
        <div class="col-lg-9 col-sm-12" style="padding:0px!important;">
            <img class="" src="{{asset('img/header-image.jpg')}}" alt="">
        </div>
        <div class="col-lg-3 col-sm-12 form_coord" style="padding:0px!important;color:#0a253e;">
            <div class="row marg">
                <div class="col-12">
                    <div class="row marg">
                        <div id="mc_embed_signup" class="offset-md-3 offset-lg-1 col-12 col-md-6 col-lg-10">
                            <form action="https://ailesx.us20.list-manage.com/subscribe/post?u=0c87e4fbb14602c959ce2cdca&amp;id=67afe62961" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            
                                <fieldset id="mc_embed_signup_scroll" style="text-align:center;">
                                     <legend style="color:#0a253e;text-align:center;">Explore AilesX memberships</legend>
                                    <p style="color:#0a253e;">AilesX innovative membership options make traveling anywhere in Montpellier quick, simple and comfortable.</p>
                                    <div class="mc-field-group">
                                        <input type="text" name="FNAME" class="form-control required" id="mce-FNAME" aria-describedby="emailHelp" placeholder="FULL NAME">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="EMAIL">
                                        <small id="emailHelp" class="form-text text-muted"></small>
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="text" name="MMERGE5" class="form-control" id="mce-MMERGE5" placeholder="PHONE">
                                    </div>
                                    <div class="mc-field-group">
                                        <input type="text" name="MMERGE2" class="" id="mce-MMERGE2" placeholder="ZIP CODE">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c87e4fbb14602c959ce2cdca_67afe62961" tabindex="-1" value=""></div>
                                    <div class="clear">
                                        <input type="submit" name="subscribe" class="offset-2 offset-sm-4 offset-lg-2 btn btn-primary btn-md" id="mc-embedded-subscribe" value="REQUEST INFO">
                                    </div>                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</section>

<div style="width:800px;"></div>
<div class="image_fond_accueil"></div>

{% block javascripts %}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript' src='{{ asset("js/homeMin.js") }}'></script>

{% endblock %}
